parameters:
	ignoreErrors:
		-
			message: '#^Method Autodoc\\Autodoc\\AutodocInterface\:\:process\(\) has parameter \$reflectionClass with generic class ReflectionClass but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Autodoc/AutodocInterface.php

		-
			message: '#^Method Autodoc\\Autodoc\\JsonAutodoc\:\:process\(\) has parameter \$reflectionClass with generic class ReflectionClass but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Autodoc/JsonAutodoc.php

		-
			message: '#^Variable property access on \$this\(Autodoc\\Autodoc\\Params\\Params\<TKey of \(int\|string\), TValue\>\)\.$#'
			identifier: property.dynamicName
			count: 2
			path: src/Autodoc/Params/Params.php

		-
			message: '#^Method Autodoc\\Autodoc\\YamlAutodoc\:\:process\(\) has parameter \$reflectionClass with generic class ReflectionClass but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Autodoc/YamlAutodoc.php

		-
			message: '#^Parameter \#1 \$objectOrClass of class ReflectionClass constructor expects Autodoc\\Api\\Product\\Controller\\ProductParams\<TKey of \(int\|string\), TValue of array\|int\|string\|null\>\|class\-string\<Autodoc\\Api\\Product\\Controller\\ProductParams\<TKey of \(int\|string\), TValue of array\|int\|string\|null\>\>, Autodoc\\Api\\Product\\Controller\\ProductParams\<TKey of \(int\|string\), TValue of array\|int\|string\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/ParamsTest.php

		-
			message: '#^Variable property access on Autodoc\\Api\\Product\\Controller\\ProductParams\<TKey of \(int\|string\), TValue of array\|int\|string\|null\>\.$#'
			identifier: property.dynamicName
			count: 1
			path: tests/ParamsTest.php
